@charset "utf-8";

/* 개인 메인 */
.box_btn_wrap.main_person {margin-top: 26px;}
.box_btn_wrap.main_person button {min-width: 134px; height: 48px; padding: 10px 12px 10px 0; font-size: 16px; background:url("../images/ico16_arrow_right.png") no-repeat 88% 50%;}

.main_search_area {width: 612px; margin: 16px auto 0; padding: 12px 24px;}
.main_search_area .inner_search {display:flex; justify-content: center; align-items: center; flex-wrap: wrap; box-sizing: border-box; height: 52px; border: 3px solid transparent; border-radius: 24px; background-image:linear-gradient(#fff, #fff), linear-gradient(to right, #5ECB69 0%, #7E9BFF 100%); background-origin: border-box; background-clip: content-box, border-box;}
.main_search_area .inner_search .btn_main_search { display:inline-block; width: 32px; height: 32px; background:url("../images/ico24_search.svg") no-repeat 0 0;}
.main_search_area .inner_search select {-webkit-appearance: none; -moz-appearance: none; appearance: none; position: relative; width: 92px; padding-right: 20px; background:url("../images/ico10_select.svg") no-repeat right 50%;}
.main_search_area .inner_search input[type="text"] {position: relative; width: 340px; margin-left: 24px; border: 0;}
.main_search_area .inner_search .bar {display: block; width: 1px; height: 28px; margin-left: 8px; background-color: var(--col_btn);}
.main_search_area .inner_search .btn_main_search {top: 3px; left: 5px;}

.recommend_keyword {display: flex; justify-content: center; align-items: center; margin-top: 20px;}
.recommend_keyword dt {padding-left: 20px; color: var(--col_p); font-size: 14px; background:url("../images/ico24_search.svg") no-repeat 0 0; background-size: 16px;}
.recommend_keyword dd {margin-left: 14px;}
.recommend_keyword dd ul {display: flex; justify-content: center; align-items: center; gap: 4px;}
.recommend_keyword dd ul a {padding: 6px 12px; border-radius: 40px; color: var(--col_p); font-size: 16px; background-color: var(--col_bg);}

.main_swiper01_wrap {position: relative; width: 1248px; margin: 0 auto;}
.main_swiper01 {margin-top: 56px; padding-bottom: 40px;}
.main_swiper01_wrap .swiper-button-prev,
.main_swiper01_wrap .swiper-button-next {top: 126px; width: 40px; height: 40px; border: 0;}
.main_swiper01_wrap .swiper-container {overflow: hidden;}
.main_swiper01_wrap .swiper-button-prev {left: -56px;}
.main_swiper01_wrap .swiper-button-next {right: -56px;}
.main_swiper01_wrap .swiper-button-prev,
.chara_poster_swiper_wrap .swiper-button-prev {background:url("../images/ico40_arrow_circle_left.png") no-repeat 0 0;}
.main_swiper01_wrap .swiper-button-next,
.chara_poster_swiper_wrap .swiper-button-next {background:url("../images/ico40_arrow_circle_right.png") no-repeat 0 0;}
.main_swiper01_wrap .pagination_container {display: flex; justify-content: center; align-items: center;}
.main_swiper01_wrap .swiper-pagination {display: inline-block; position: relative; top: -2px; bottom: auto; width: auto; justify-content: center; align-items: center;}
.main_swiper01_wrap .swiper-pagination-fraction,
.chara_poster_swiper_wrap .swiper-pagination-fraction {display: inline-flex; justify-content: center; align-items: center; width: 42px; height: 24px; margin-left: 12px; border: 1px solid var(--col_btn); border-radius: 12px; font-size: 12px;}
.main_swiper01_wrap .swiper-pagination-fraction .swiper-pagination-current,
.chara_poster_swiper_wrap .swiper-pagination-fraction .swiper-pagination-current {margin-right: 4px; font-weight: 600;}
.main_swiper01_wrap .swiper-pagination-fraction .swiper-pagination-total,
.chara_poster_swiper_wrap .swiper-pagination-fraction .swiper-pagination-total {margin-left: 4px;}
.main_swiper01_wrap .btn_main_banner {z-index: 10; width: 26px; height: 26px; margin-left: 12px;}
.main_swiper01_wrap .btn_main_banner.pause,
.chara_poster_swiper_wrap .pause {background:url("../images/btn26_pause.png") no-repeat 0 0;}
.main_swiper01_wrap .btn_main_banner.play,
.chara_poster_swiper_wrap .play {background:url("../images/btn26_play.png") no-repeat 0 0;}





.main_swiperFreqAccMenu_wrap { position: relative; width: 1280px; margin: 0 auto; display: flex; height: 220px; }
.main_swiperFreqAccMenu {margin-top: 56px; padding-bottom: 40px;}
.main_swiperFreqAccMenu_wrap .swiper-button-prev,
.main_swiperFreqAccMenu_wrap .swiper-button-next {top: 126px; width: 40px; height: 40px; border: 0;}
.main_swiperFreqAccMenu_wrap .swiper-container {overflow: hidden;}
.main_swiperFreqAccMenu_wrap .swiper-button-prev { top: 100px; left: 132px; }
.main_swiperFreqAccMenu_wrap .swiper-button-next { top: 100px; right: 0px; }
.main_swiperFreqAccMenu_wrap .swiper-button-prev,
.chara_poster_swiper_wrap .swiper-button-prev {background:url("../images/ico40_arrow_left.png") no-repeat 0 0;}
.main_swiperFreqAccMenu_wrap .swiper-button-next,
.chara_poster_swiper_wrap .swiper-button-next {background:url("../images/ico40_arrow_right.png") no-repeat 0 0;}
.main_swiperFreqAccMenu_wrap .pagination_container { display: flex; justify-content: left; margin-top: 10px; align-items: center; }
.main_swiperFreqAccMenu_wrap .swiper-pagination {display: inline-block; position: relative; top: -2px; bottom: auto; width: auto; justify-content: center; align-items: center;}
.main_swiperFreqAccMenu_wrap .swiper-pagination-fraction,
.chara_poster_swiper_wrap .swiper-pagination-fraction {display: inline-flex; justify-content: center; align-items: center; width: 42px; height: 24px; margin-left: 12px; border: 1px solid var(--col_btn); border-radius: 12px; font-size: 12px;}
.main_swiperFreqAccMenu_wrap .swiper-pagination-fraction .swiper-pagination-current,
.chara_poster_swiper_wrap .swiper-pagination-fraction .swiper-pagination-current {margin-right: 4px; font-weight: 600;}
.main_swiperFreqAccMenu_wrap .swiper-pagination-fraction .swiper-pagination-total,
.chara_poster_swiper_wrap .swiper-pagination-fraction .swiper-pagination-total {margin-left: 4px;}
.main_swiperFreqAccMenu_wrap .btn_main_banner {z-index: 10; width: 26px; height: 26px; margin-left: 12px;}
.main_swiperFreqAccMenu_wrap .btn_main_banner.pause,
.chara_poster_swiper_wrap .pause {background:url("../images/btn26_pause.png") no-repeat 0 0;}
.main_swiperFreqAccMenu_wrap .btn_main_banner.play,
.chara_poster_swiper_wrap .play {background:url("../images/btn26_play.png") no-repeat 0 0;}
.main_swiperFreqAccMenu .swiper-wrapper{
	width: 95% !important;
}
.main_swiperFreqAccMenu .swiper-wrapper .swiper-slide { width: 100% !important; height: 150px; float: left; display: flex;
	/* margin-left: 60px; 자주찾는 서비스 2슬라이드로 넘어가면 주석해제 */
}
.main_swiperFreqAccMenu .swiper-wrapper .swiper-slide .ico { margin-right: 100px; margin-left: 34px; height: 60px; width: 60px; background-size: cover; background-repeat: no-repeat; }
.main_swiperFreqAccMenu .swiper-wrapper .swiper-slide p { height: 50px; width: 130px; background-size: cover; background-repeat: no-repeat; text-align: center; }
.main_swiperFreqAccMenu .swiper-wrapper .swiper-slide .famenu { height: 150px; width: 150px; padding: 10px; margin-right: 10px; margin-left: 10px; }
.main_swiperFreqAccMenu_control{ height: 150px; width: 235px !important; margin-top: 56px; }
.main_swiperFreqAccMenu_control h1{ font-size: 28px; font-weight: 700; margin: 10px; }

.ico60_main_fam_persn1 {background:url('../images/ico60_main_fam_persn1.svg');}
.ico60_main_fam_persn2 {background:url('../images/ico60_main_fam_persn2.svg');}
.ico60_main_fam_persn3 {background:url('../images/ico60_main_fam_persn3.svg');}
.ico60_main_fam_persn4 {background:url('../images/ico60_main_fam_persn4.svg');}
.ico60_main_fam_persn5 {background:url('../images/ico60_main_fam_persn5.svg');}
.ico60_main_fam_persn6 {background:url('../images/ico60_main_fam_persn6.svg');}


.main_favorite_service_person {display: flex; justify-content: space-between; align-items: center; position: relative; margin-top: 40px;}
.main_favorite_service_person .btn_search_division {box-sizing: border-box; overflow: hidden; width: 188px; height: 44px; padding: 6px 33px 6px 20px; border-radius: 32px; color: var(--col_white); white-space: nowrap; text-overflow: ellipsis; background: var(--col_body) url("../images/arrow16_down_white.png") no-repeat right 10px top 50%;}
.main_favorite_service_person .btn_search_division span {display: block; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.main_favorite_service_person .txt01 {margin-left: 8px; color: var(--col_body); font-size: 18px; font-weight: 600;}
.main_favorite_service_person .txt02 {margin-left: 8px; padding-left: 28px; color: var(--col_p); font-size: 14px; font-weight: 600; background:url("../images/ico24_ui_filter.png") no-repeat 0 50%;}
.main_favorite_service_person .em{color:var(--col_blue)}

.main_favorite_service_person .layer_sub_favorite_service {position: absolute; top: 50px; left: 0; z-index: 1;}
.main_favorite_service_person .layer_sub_favorite_service.layer01 {left: 0;}
.main_favorite_service_person .layer_sub_favorite_service.layer02 {left: 192px;}
.main_favorite_service_person .layer_sub_favorite_service.layer03 {left: 385px;}

.main_favorite_service_person .layer_sub_favorite_service ul {display: flex; width: 484px; flex-wrap: wrap; }
.main_favorite_service_person .layer_sub_favorite_service li {width:50%; height: 44px; border: 1px solid var(--col_btn); border-bottom: 0;background-color: var(--col_white);}
.main_favorite_service_person .layer_sub_favorite_service li:nth-child(2n) {margin-left: -1px;}
.main_favorite_service_person .layer_sub_favorite_service li:nth-child(1) {border-top-left-radius: 8px;}
.main_favorite_service_person .layer_sub_favorite_service li:nth-child(2) {border-top-right-radius: 8px;}
.main_favorite_service_person .layer_sub_favorite_service li:nth-last-child(2) {border-bottom-left-radius: 8px; border-bottom: 1px solid var(--col_btn);}
.main_favorite_service_person .layer_sub_favorite_service li:nth-last-child(1) {border-bottom-right-radius: 8px; border-bottom: 1px solid var(--col_btn);}
.main_favorite_service_person .layer_sub_favorite_service li a {box-sizing: border-box; display: flex; align-items: center; width: 100%; height: 100%; padding: 0 0 0 17px; color: var(--col_p);}
.main_favorite_service_person .layer_sub_favorite_service li a.active {color: var(--col_blue); font-weight: 600;}

.main_favorite_service_person .layer_set_filter {box-sizing: border-box; position: absolute; top:50px; right: 0; width: 330px; padding: 24px; border: 1px solid var(--col_btn); border-radius: 8px; background-color: var(--col_white);z-index:2}
.main_favorite_service_person .layer_set_filter .t3_sb {margin-bottom: 16px;}
.main_favorite_service_person .layer_set_filter .box_table_group {margin-bottom: 16px;}
.main_favorite_service_person .layer_set_filter .btn_save {width: 100%;}
.main_favorite_service_person .layer_set_filter .box_table_group select {-webkit-appearance: none; -moz-appearance: none; appearance: none; position: relative; width: 100%; padding-right: 30px; background:url("../images/ico10_select.svg") no-repeat right 10px top 50%;}
.main_favorite_service_person .layer_set_filter .btn_close {position: absolute; top: 15px; right: 15px; width: 24px; height: 24px; background:url("../images/ico24_ui_close_black.svg") no-repeat 0 0;}
.main_favorite_service_person .layer_set_filter .b1_sb{margin-bottom:10px}
.main_favorite_service_person .layer_set_filter .box_radio-group{width:100%;margin-bottom:16px;padding-bottom:18px;border-bottom:1px solid #eee}
.main_favorite_service_person .layer_set_filter .box_radio-group:last-of-type{margin-bottom:0;padding-bottom:24px;border-bottom:0}
.main_favorite_service_person .layer_set_filter .box_chk-group{display: flex; flex-wrap: wrap;margin-bottom:16px;padding-bottom:15px;border-bottom:1px solid #eee}
.main_favorite_service_person .layer_set_filter .box_chk-group span{flex-basis: calc(33.33% - 5px); margin-bottom: 5px;}
.main_favorite_service_person .layer_set_filter .box_chk-group > span + span{margin-left:0}

/* .main_service_list_person {background-color: var(--col_white);} */
.main_service_list_person .service_summary{display:block;position:relative;margin-bottom:6px;color: var(--col_white); font-size:16px;font-weight:600;}
.main_service_list_person .service_summary::before{position:absolute;top:10px;right:16px;content: '';display:block;width:164px;height:1px;background:rgba(255,255,255,.24)}
.main_service_list_person .inner_service_list {display: flex; justify-content: flex-start;gap: 27px; margin-top: 24px;}
.main_service_list_person .inner_service_list dl {box-sizing: border-box; width: 294px; height: 440px; padding: 100px 6px 32px 24px; border: 1px solid var(--col_btn); border-radius: 8px;}
.main_service_list_person .inner_service_list dl:nth-child(4n+1){border-color:#6A8AE8;background:#6A8AE8 url("../images/ico_main_sr01.png") no-repeat 24px 32px;}
.main_service_list_person .inner_service_list dl:nth-child(4n+2){border-color:#19B3BD;background:#19B3BD url("../images/ico_main_sr02.png") no-repeat 24px 32px;}
.main_service_list_person .inner_service_list dl:nth-child(4n+3){border-color:#62D491;background:#62D491 url("../images/ico_main_sr03.png") no-repeat 24px 32px;}
.main_service_list_person .inner_service_list dl:nth-child(4n){border-color:#E96625;background:#E96625 url("../images/ico_main_sr04.png") no-repeat 24px 32px;}
.main_service_list_person .inner_service_list dt{height:160px}
.main_service_list_person .inner_service_list dt b {display: block; width: 100%; margin-bottom: 14px; color: var(--col_white); font-size: 18px; font-weight: 600;}
.main_service_list_person .inner_service_list dl:nth-child(4n+3) dt b,
.main_service_list_person .inner_service_list dl:nth-child(4n+3) dt span,
.main_service_list_person .inner_service_list dl:nth-child(4n+3) .service_summary,
.main_service_list_person .inner_service_list dl:nth-child(4n+3) dd .obj_key,
.main_service_list_person .inner_service_list dl:nth-child(4n+3) dd .obj_value{color:var(--col_body)}
.main_service_list_person .inner_service_list dl:nth-child(4n+3) a.detail_view:not(.main_service_list_person .list_type02 *){background:url("../images/ico16_arrow_right_black.svg") no-repeat 50% 50%}
.main_service_list_person .inner_service_list dt span {font-size: 16px; line-height: 28px;color: var(--col_white);}
.main_service_list_person .inner_service_list dd {margin-top: 16px;}
.main_service_list_person .inner_service_list dd ul li {display: flex; justify-content: space-between; position:relative;margin-top: 4px; line-height: 32px;}
.main_service_list_person .inner_service_list dd ul li:first-child {margin-top: 0;}
.main_service_list_person .inner_service_list dd .obj_key {position:relative;width:30%;padding-left:10px;color: var(--col_white);}
.main_service_list_person .inner_service_list dd .obj_key::before{position:absolute;left:-12px;content:'ㆍ';display:inline-block;font-size:32px;}
.main_service_list_person .inner_service_list dd .obj_value {overflow: hidden;width:70%;padding-right:35px; white-space: nowrap; text-overflow: ellipsis;color:var(--col_white)}
.main_service_list_person .inner_service_list a.detail_view {display:block;width:16px;height:16px;padding:15px;position:absolute;top:50%;right:9px;margin-top:-16px;background: url("../images/ico16_arrow_right_white.svg") no-repeat 50% 50%;box-sizing: border-box;}

.main_service_list_person .inner_service_list.list_type02 dl:nth-child(3n-1){border: 1px solid #19ada8;}
.main_service_list_person .inner_service_list.list_type02 dl:nth-child(3n){border: 1px solid #E96625;}
.main_service_list_person .inner_service_list.list_type02 dl:nth-child(3n-1) dt{background-color: #19ada8;}
.main_service_list_person .inner_service_list.list_type02 dl:nth-child(3n) dt{background-color: #E96625;}
.main_service_list_person .inner_service_list.list_type02 {flex-wrap: wrap; gap: 24px; margin-top: 24px;}
.main_service_list_person .inner_service_list.list_type02 dl {border: 1px solid #6A8AE8; height: 180px; padding: 0; margin-top: 0; background-image: none; overflow: hidden;  background-color: transparent;}
.main_service_list_person .inner_service_list.list_type02 dl * {line-height: 1.4;}
.main_service_list_person .inner_service_list.list_type02 dt {height: 90px; display: flex; justify-content: center; align-items: center; padding: 8px 20px; color: #fff!important; background-color: #6A8AE8;}
.main_service_list_person .inner_service_list.list_type02 dt b {margin-bottom: 0; color: #fff!important;}
.main_service_list_person .inner_service_list.list_type02 dd {border-top: 1px solid rgba(255,255,255,.24); padding: 20px; margin-top: 0;}
.main_service_list_person .inner_service_list.list_type02 dd * {color: #000;}
.main_service_list_person .inner_service_list.list_type02 .detail_view {position: static; display: inline; margin: 0;}


.main_service_list {background-color: var(--col_white);}
.main_service_list .inner_service_list {position:relative;display: flex; margin-top: 24px; flex-wrap: wrap; justify-content: flex-start; gap: 24px;}
.main_service_list .inner_service_list dl {position:relative;box-sizing: border-box; width: 294px; height: 375px; padding: 33px 6px 32px 24px; border: 1px solid var(--col_btn); border-radius: 8px;}
.main_service_list .inner_service_list dt b {display: block; width: 100%; margin-bottom: 14px; color: var(--col_h); font-size: 18px; font-weight: 600;}
.main_service_list .inner_service_list dt span {font-size: 16px; line-height: 28px;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;
-webkit-line-clamp: 3;-webkit-box-orient: vertical;}
.main_service_list .inner_service_list dd {margin-top: 16px;}
.main_service_list .inner_service_list dd ul li {display: flex; justify-content: space-between; margin-top: 4px; line-height: 28px;}
.main_service_list .inner_service_list dd ul li:first-child {margin-top: 0;}
.main_service_list .inner_service_list dd .obj_key {width: 27%; color: var(--col_p);}
.main_service_list .inner_service_list dd .obj_value {overflow: hidden; width: 73%; font-weight: 600; white-space: nowrap; text-overflow: ellipsis;}
.main_service_list .inner_service_list a.detail_view {position:absolute;left:0;bottom:0;width:100%;display: flex; justify-content: center; align-items: center; box-sizing: border-box; height: 58px; margin:22px 0 0 0; border-top: 1px solid var(--col_border); color: var(--col_blue);}

.main_explain_txt01 {position:relative;color: var(--col_p);line-height:28px}
.main_explain_txt01 .em{color:var(--col_blue)}
.main_explain_txt01 a {color: var(--col_blue); text-decoration: underline;}

.main_recruit_information_person {width:1248px;margin:0 auto;box-sizing: border-box; overflow: hidden; position: relative;}
.main_recruit_information_person .sort_txt{display:block;margin-top:17px;text-align:right}
.main_recruit_information_person .company_list_wrap{display:flex;flex-wrap: wrap;justify-content: flex-start;gap: 24px;margin-top:17px;padding-bottom:26px;}
.main_recruit_information_person .company_list{position:relative;width:294px;height:414px;padding:16px 24px 0;border:1px solid #ddd;border-radius:8px;box-sizing: border-box;}
.main_recruit_information_person .company_list .a_block{display:block;}
.main_recruit_information_person .company_list .logo{display:flex;justify-content:center;align-items:center;width:246px;height:80px;}
.main_recruit_information_person .company_list .logo img{width:100%;}
.main_recruit_information_person .company_list .logo > .logo_txt {font-size: 20px;font-weight:600;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.main_recruit_information_person .company_list .label_box{margin-top:10px; height: 20px;}
.main_recruit_information_person .company_list .label_box .label{display:inline-block;height:26px;margin-right:4px;border-radius:4px;padding:0 6px;line-height:26px;color:#fff;font-size:13px}
.main_recruit_information_person .company_list .label_box .label.col_blue{background-color: var(--col_blue);}
.main_recruit_information_person .company_list .label_box .label.col_cyan{background-color: var(--col_cyan);}
.main_recruit_information_person .company_list .label_box .label.col_p{background-color: var(--col_p);}
.main_recruit_information_person .company_list .label_box .label.col_green{background-color: var(--col_green);color:var(--col_body)}
.main_recruit_information_person .company_list .label_box .label.col_orange{background-color: var(--col_orange);}
.main_recruit_information_person .company_list .label_box .label.col_navy{background-color: var(--col_navy);}
.main_recruit_information_person .company_list .tit{margin-top:10px;color:var(--col_h);font-size:18px;font-weight: bold;  height: 40px;text-overflow: ellipsis;overflow:hidden;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.main_recruit_information_person .company_list .recruit_info{display:block;height:56px;margin-top:8px;color:var(--col_body);font-size:16px;line-height:28px;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;text-overflow: ellipsis;}
.main_recruit_information_person .company_list .info_list{margin-top:8px;}
.main_recruit_information_person .company_list .info_list li{display: flex; justify-content: space-between;position:relative;padding-left:10px;color: var(--col_body);line-height:28px}
.main_recruit_information_person .company_list .info_list li::before{position:absolute;left:-12px;content:'ㆍ';display:inline-block;font-size:32px;}
.main_recruit_information_person .company_list .obj_key {width:35%;box-sizing: border-box;}
.main_recruit_information_person .company_list .obj_value {overflow: hidden;width:65%;white-space: nowrap; text-overflow: ellipsis;color:var(--col_white)}
.main_recruit_information_person .company_list .obj_value img{height:28px}
.main_recruit_information_person .company_list .info{position:absolute;bottom:0;left:0;display:block;width:100%;height:58px;border-top:1px solid #eee;color:var(--col_p);font-size:16px;line-height:58px;text-align:center}
.main_recruit_information_person .company_list .info.nodata{color: var(--col_gray);}
.main_recruit_information_person .company_list .info.salary span{padding-left:24px;background: url("../images/ico_stats.svg") no-repeat 0 50%;}
.main_recruit_information_person .company_list .info.calendar span{padding-left:24px;background: url("../images/ico24_calendar.svg") no-repeat 0 50%;}
.main_recruit_information_person .box_btn_wrap.main_person{margin:0 auto;}
.main_recruit_information_person .box_btn_wrap.main_person button{min-width:89px;}

.main_section_wrap .recomm_tab{margin:13px auto 7px;text-align:center}
.main_section_wrap .recomm_tab .tablist{display:flex;justify-content: center;}
.main_section_wrap .recomm_tab .tablist li{height:40px;margin:0 4px;}

.main_section_wrap .recomm_tab .tablist li button{display:block;width:100%;height:100%;padding:0 15px;color:var(--col_body);text-align:center;white-space: nowrap;border-radius:30px;background:var(--col_white);border:1px solid #ddd;line-height:40px}

.main_section_wrap .recomm_tab .tablist li button[aria-selected="true"]{background:var(--col_blue);border-color:var(--col_blue);color: var(--col_white);}
.main_section_wrap .recomm_tab .tablist li .count{margin-left:5px;color:var(--col_blue)}
.main_section_wrap .recomm_tab .tablist li button[aria-selected="true"] .count{color:var(--col_white)}

.main_jobs_recomm [role="tabpanel"]{padding-bottom:80px;}
.main_jobs_recomm .jobs_list_wrap{display:flex;justify-content: flex-start;gap:24px;margin-top:10px; flex-wrap: wrap;}
.main_jobs_recomm .jobs_list{width:294px;border-radius:8px;border:1px solid #ddd;background-color:var(--col_white);box-sizing: border-box;}
.main_jobs_recomm .jobs_list .list{height:340px;padding:32px 20px;text-align:center}
.main_jobs_recomm .jobs_list .list dt{color:var(--col_h);font-size:18px;font-weight: 600;text-overflow: ellipsis;overflow:hidden;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;line-height:28px}
.main_jobs_recomm .jobs_list .list dd .mark_info{margin-top:16px}
.main_jobs_recomm .jobs_list .list dd .mark_info img{margin:0 4px;width:38px}
.main_jobs_recomm .jobs_list .list dd .desc{display:block;margin-top:24px;color:var(--col_h);font-size:16px;font-weight:600;white-space: nowrap;text-overflow: ellipsis;overflow:hidden;line-height:28px;}
.main_jobs_recomm .jobs_list .list dd .reg{display:block;margin-top:4px;color:var(--col_p);font-size:14px;line-height:24px}
.main_jobs_recomm .jobs_list dd ul{margin-top:16px;}
.main_jobs_recomm .jobs_list dd li{display: flex;align-items:start;margin-top:8px;color:var(--col_p);font-size:16px;text-align:left;line-height: 28px;}
.main_jobs_recomm .jobs_list dd li .obj_key{display:inline-block;margin-right:4px;}
.main_jobs_recomm .jobs_list dd li .obj_value{display:inline-block;}
.main_jobs_recomm .jobs_list .expense_info{display:flex;justify-content: space-between;width:100%;height:58px;padding:0 24px;border-top:1px solid #eee;align-items: center;box-sizing: border-box;}
.main_jobs_recomm .jobs_list .page_survey_wrap.type2{position:relative;top:3px}
.main_jobs_recomm .jobs_list .expense_info .expense{padding-left:20px;background: url("../images/ico16_coin2.svg") no-repeat 0 50%;color:var(--col_p);font-size:16px}
.main_jobs_recomm .jobs_list .expense_info .detail_view{font-size:16px;color: var(--col_blue);}
.main_jobs_recomm .box_btn_wrap.main_person button{min-width:89px;}

.person .login_guide {border: 1px solid var(--col_green); border-radius: 8px; text-align: center;}
.login_guide .btn_close {position: absolute; top: 15px; right: 15px; width: 24px; height: 24px; background:url("../images/ico24_ui_close_black.svg") no-repeat 0 0;}
.login_guide p {font-size: 18px; font-weight: 600;}
.person .login_guide p span {color: #118849;}
.person .login_guide p a.btn {background-color: var(--col_green);border-color:var(--col_green); color: #333;}
.login_guide ul {display: flex; justify-content: center; align-items: center; margin-top: 20px;}
.login_guide ul li {display: flex; align-items: center; margin-left: 24px;}
.login_guide ul li:first-child {margin-left: 0;}
.login_guide ul .ico {width: 24px; height: 24px; margin-right: 8px;}
.login_guide ul .ico01 {background: url("../images/ico24_login_guide01.svg") no-repeat 0 0 ;}
.login_guide ul .ico02 {background: url("../images/ico24_login_guide02.svg") no-repeat 0 0 ;}
.login_guide ul .ico03 {background: url("../images/ico24_login_guide03.svg") no-repeat 0 0 ;}
.login_guide ul .ico04 {background: url("../images/ico24_login_guide04.svg") no-repeat 0 0 ;}

.quick_login_guide {position: absolute; z-index: 10; top: -153px; right: 56px; width: 840px; background-color: var(--col_white);}

.bg_main_person01 {background: url("../images/bg_main_person_left01.png") no-repeat 0 0, url("../images/bg_main_person_right01.png") no-repeat right top;}
.logo_g24{height: 26.1px;}
.logo_company{width: auto !important;}

.main_jobs_person_work_location {overflow: hidden; width: 73%; font-weight: 600; white-space: nowrap; text-overflow: ellipsis;}

/* EOD : 개인 메인 */































/* [고도화] */
#container .top_search_form { display: flex; width: 1248px; margin: 0 auto;}
#container .topsearch_wrap--flex { justify-content: space-between; align-items: flex-start; position: relative; width: 100%; margin-top: 50px;}
#container .topsearch_wrap--flex .bgico5 { display: block; position: absolute; left: -232px; top: 22px; width: 186px; height: 79px; background: url(../images/bg_visual.png) no-repeat;}
#container .search_group { position: relative; z-index: 10; width: 682px; padding-top: 47px;}
#container .login_group { position: relative; z-index: 10; width: 506px; padding: 32px 22px 0; border: 1px solid var(--col_green); border-radius: 8px;}
#container .form_search_wrap {  margin: initial;}
#container .main_search_area { width: 100%;}
#container .login_guide { margin-top: 0; padding: 0 0 32px; border: none; border-radius: 0;}
#container .login_guide p { font-size: 20px; letter-spacing: -0.5px;}
#container .login_guide ul { display: flex; flex-wrap: wrap; margin-top: 9px;}
#container .login_guide ul li { width: 50%; margin: 16px 0 0;}
#container .login_guide .ico { width: 24px; height: 24px;}
#container .login_guide .ico.ico01 { background: url(https://www.work24.go.kr/cm/static/images/ico24_login_guide01.svg) no-repeat;}
#container .login_guide .ico.ico02 { background: url(https://www.work24.go.kr/cm/static/images/ico24_login_guide02.svg) no-repeat;}
#container .login_guide .ico.ico03 { background: url(https://www.work24.go.kr/cm/static/images/ico24_login_guide03.svg) no-repeat;}
#container .login_guide .ico.ico04 { background: url(https://www.work24.go.kr/cm/static/images/ico24_login_guide04.svg) no-repeat;}
#container .login_guide .btn { display: flex; justify-content: center; align-items: center; height: 48px; margin-top: 24px; font-weight: 600; color: #111; background-color: #62D491; border-radius: 8px;}
#container .my_app_status { position: initial; top: initial; right: initial; width: 100%; height: auto; padding-bottom: 50px; border: none; background-color: transparent; border-radius: 0;}
#container .my_app_status h3.t3_sb { position: initial; top: initial; left: initial;}
#container .my_app_status h3.t3_sb .highlight { color: #117935;}
#container .my_app_status .flex { display: flex; justify-content: space-between; align-items: center;}
#container .my_app_status .btn_mypage { display: flex; justify-content: center; align-items: center; height: 48px; padding: 0 12px 0 16px; border: 1px solid #ddd; border-radius: 8px;}
#container .my_app_status .btn_mypage .text { display: block; font-weight: 600; color: #333;}
#container .my_app_status .btn_mypage .icon { display: block; width: 16px; height: 16px; margin-left: 4px; background: url(../images/ico16_arrow_right.svg) no-repeat;}
#container .my_app_status .status_list { flex-wrap: initial; margin-top: 48px; padding: 0;}
#container .my_app_status .status_list li { width: initial; margin-bottom: 0;}
#container .my_app_status .status_list li a { display: block; width: 100%; font-size: 14px;}
#container .my_app_status .status_list li a::before { transition: background-color ease-out .2s;}
#container .my_app_status .status_list li .count { font-weight: 600; color: #111; background: #62D491;}
#container .my_app_status .status_list li a:hover::before { background-color: #E8FCF0;}
#container .main_search_area .inner_search { justify-content: flex-start; height: 64px; border-width: 5px; border-radius: 32px;}
#container .main_search_area .inner_search .btn_cate_select { margin-left: 24px;}
#container .main_search_area .inner_search .btn_cate_select span { font-size: 20px;}
#container .main_search_area .inner_search input[type="text"] { flex: 1; width: initial; font-size: 20px; margin-left: 16px;}
#container .main_search_area .inner_search input[type="text"]::placeholder { font-size: 20px;}
#container .main_search_area .inner_search .btn_main_search { left: initial; top: initial; margin-right: 24px; background: url(../images/ico24_search.svg) no-repeat;}
#container .recommend_keyword { display: flex; align-items: flex-start; margin-top: 24px;}
#container .recommend_keyword dt { margin: 7px 0 0 24px; padding-left: 22px; font-weight: 600; color: #111; background: url(../images/ico16_search.svg) no-repeat;}
#container .recommend_keyword dd { flex: 1; margin-left: 16px;}
#container .recommend_keyword dd ul { justify-content: flex-start; flex-wrap: wrap; gap: 8px;}
#container .recommend_keyword dd ul a { display: flex; justify-content: center; align-items: center; height: 32px; padding: 0 12px; font-size: 14px; border-radius: 16px;}
#container .form_search_wrap .layer_search { top: 70px;}
#container .main_swiper01_wrap .h1_sb { font-size: 32px; text-align: left; letter-spacing: -1px;}
#container .main_service_list_person { position: relative;}
#container .mfs_more { display: flex; align-items: center; position: absolute; right: 0; top: 59px; z-index: 10;}
#container .mfs_more span { font-weight: 600; color: #111;}
#container .mfs_more .icon { display: block; width: 16px; height: 16px; margin-left: 4px; background: url(../images/ico16_arrow_right.svg) no-repeat;}
#container .main_service_list_person .inner_service_list.list_type02 dl { height: 168px; padding: 24px 20px; border: none; background-color: #E3EEFF; transition: all ease-out .2s;}
#container .main_service_list_person .inner_service_list.list_type02 dl:hover dt b { transition: all ease-out .2s;}
#container .main_service_list_person .inner_service_list.list_type02 dl:hover dd * { transition: all ease-out .2s;}
#container .main_service_list_person .inner_service_list.list_type02 dl:hover { background-color: #4D65E1; box-shadow: 8px 8px 16px rgba(0,0,0,.08);}
#container .main_service_list_person .inner_service_list.list_type02 dl:hover dt b { color: #fff !important; text-decoration: underline;}
#container .main_service_list_person .inner_service_list.list_type02 dl:hover dd * { color: #fff;}
#container .main_service_list_person .inner_service_list.list_type02 dl:nth-child(3n) { background-color: #FDEDE5;}
#container .main_service_list_person .inner_service_list.list_type02 dl:nth-child(3n):hover { background-color: #F0651F;}
#container .main_service_list_person .inner_service_list.list_type02 dl:nth-child(3n-1) { background-color: #E8FCF0;}
#container .main_service_list_person .inner_service_list.list_type02 dl:nth-child(3n-1):hover { background-color: #17A6A0;}
#container .main_service_list_person .inner_service_list.list_type02 dt { align-items: flex-start; height: 56px; padding: 0; line-height: 28px; background-color: transparent;}
#container .main_service_list_person .inner_service_list.list_type02 dt b { color: #111 !important;}
#container .main_service_list_person .inner_service_list.list_type02 dd { margin-top: 8px; padding: 0; line-height: 28px; border: none;}
#container .main_service_list_person .inner_service_list.list_type02 dl a.detail_view { transition: all ease-out .2s; opacity: 0;}
#container .main_service_list_person .inner_service_list.list_type02 dl:hover a.detail_view { opacity: 1;}
#container .main_section_wrap .recomm_tab { margin: 0; text-align: left;}
#container .main_section_wrap .recomm_tab .tablist { justify-content: flex-start;}
#container .main_section_wrap .recomm_tab .tablist li { margin: 0;}
#container .main_section_wrap .recomm_tab .tablist li ~ li { margin-left: 8px;}
#container .main_section_wrap .recomm_tab .tablist li button[aria-selected="true"] { font-weight: 600; color: #111; border-color: #62D491; background: #62D491;}
#container .main_section_wrap .recomm_tab .tablist li .count { color: #117935;}
#container .main_section_wrap .recomm_tab .tablist li button[aria-selected="true"] .count { color: #111;}
#container .information_group { background-color: #F5F5F5;}
#container .main_informationMenu,
#container .main_informationMenu2 { position: relative; z-index: 2;}
#container .main_recruitment { padding: 80px 0 146px;}
#container .main_recruitment .before { position: relative;}
#container .main_recruitment .after { position: relative;}
#container .main_recruitment .after .flex { display: flex; justify-content: space-between; align-items: center;}
#container .main_recruitment .after .mfs_more { top: 125px;}
#container .main_recruitment .company_list_wrap { gap: initial; margin: 32px 0; padding: 0;}
#container .main_recruitment .company_list { height: 438px; padding: 12px 20px 0; border: none; border: 3px solid #fff; background-color: #fff; box-shadow: 2px 2px 16px 0 rgba(0,0,0,.04); transition: all ease-out .2s;}
#container .main_recruitment .company_list .logo { height: 120px;}
#container .main_recruitment .company_list .logo img { width: initial;}
#container .main_recruitment .company_list .label_box { height: initial; margin-top: 4px;}
#container .main_recruitment .company_list .label_box .label { height: 22px; font-size: 12px; line-height: 22px;}
#container .main_recruitment .company_list .tit { overflow: hidden; display: block; height: initial; white-space:nowrap;}
#container .main_recruitment .company_list .recruit_info { margin-top: 4px;}
#container .main_recruitment .company_list .info_list li ~ li { margin-top: 4px;}
#container .main_recruitment .company_list .info { display: flex; justify-content: center; align-items: center; transition: all ease-out .2s;}
#container .main_recruitment .company_list:hover { border-color: #62D491; box-shadow: 8px 8px 16px 0 rgba(0,0,0,.08);}
#container .main_recruitment .company_list:hover .info { background-color: #E8FCF0; border-radius: 0 0 8px 8px;}
#container .main_recruitment .company_list .info.calendar span { display: block; padding-left: 32px; color: #111; background: url(https://www.work24.go.kr/cm/static/images/ico24_calendar.svg) no-repeat left 16px;}
#container .main_recruitment .swiper-button-prev.btn_left { left: -65px; top: 320px;}
#container .main_recruitment .swiper-button-next.btn_right { right: -65px; top: 320px;}
#container .main_recruitment .bgico2 { position: absolute; right: -114px; top: 20px; width: 247px; height: 276px; background: url(../images/bgico2.png) no-repeat;}
#container .main_recruitment .bgico3 { position: absolute; left: -140px; bottom: -144px; width: 387px; height: 243px; background: url(../images/bgico3.png) no-repeat;}
#container .main_recruitment .bgico4 { position: absolute; left: -200px; bottom: -49px; width: 226px; height: 92px; background: url(../images/bgico4.png) no-repeat;}
#container .btn_setting { display: flex; align-items: center; position: relative; z-index: 2; height: 36px; padding: 0 12px; border: 1px solid #ddd; background-color: #fff; border-radius: 18px;}
#container .btn_setting .icon { display: block; width: 24px; height: 24px; margin-right: 4px; background: url(../images/ico24_setting.svg) no-repeat;}
#container .main_support { padding: 80px 0;}
#container .main_favorite { margin-top: 50px; padding: 40px 0; background-color: #F5F5F5;}
#container .main_favorite .bgico1 { position: absolute; right: -162px; bottom: -40px; width: 156px; height: 87px; background: url(../images/bgico1.png) no-repeat;}
#container .main_recruit_information_person { overflow: initial;}
#container .main_bann { padding: 80px 64px;}
#container .main_swiperFreqAccMenu_control { width: 176px !important; margin-top: 8px;}
#container .main_swiperFreqAccMenu_control h1 { margin: 0; font-size: 32px; line-height: 42px;}
#container .main_swiperFreqAccMenu .swiper-wrapper { width: 100% !important;}
#container .main_swiperFreqAccMenu .swiper-wrapper .swiper-slide { padding-left: 56px;}
#container .main_swiperFreqAccMenu .swiper-wrapper .swiper-slide .famenu { width: 140px; height: initial; margin: 0; padding: 0;}
#container .main_swiperFreqAccMenu .swiper-wrapper .swiper-slide .famenu ~ .famenu { margin-left: 24px;}
#container .main_swiperFreqAccMenu .swiper-wrapper .swiper-slide a { display: block; text-align: center;}
#container .main_swiperFreqAccMenu .swiper-wrapper .swiper-slide a .round { display: inline-flex; justify-content: center; align-items: center; width: 80px; height: 80px; margin: 0; background-color: #fff; border-radius: 50%; transition: background-color ease-out .2s;}
#container .main_swiperFreqAccMenu .swiper-wrapper .swiper-slide .ico { display: block; width: 48px; height: 48px; margin: 0;}
#container .main_swiperFreqAccMenu .swiper-wrapper .swiper-slide .ico.ico60_main_fam_persn1 { background: url(../images/ico48_main_fam_persn1.png) no-repeat;}
#container .main_swiperFreqAccMenu .swiper-wrapper .swiper-slide .ico.ico60_main_fam_persn2 { background: url(../images/ico48_main_fam_persn2.png) no-repeat;}
#container .main_swiperFreqAccMenu .swiper-wrapper .swiper-slide .ico.ico60_main_fam_persn3 { background: url(../images/ico48_main_fam_persn3.png) no-repeat;}
#container .main_swiperFreqAccMenu .swiper-wrapper .swiper-slide .ico.ico60_main_fam_persn4 { background: url(../images/ico48_main_fam_persn4.png) no-repeat;}
#container .main_swiperFreqAccMenu .swiper-wrapper .swiper-slide .ico.ico60_main_fam_persn5 { background: url(../images/ico48_main_fam_persn5.png) no-repeat;}
#container .main_swiperFreqAccMenu .swiper-wrapper .swiper-slide .ico.ico60_main_fam_persn6 { background: url(../images/ico48_main_fam_persn6.png) no-repeat;}
#container .main_swiperFreqAccMenu .swiper-wrapper .swiper-slide a:hover .round { background-color: #62D491; box-shadow: 8px 8px 16px 0 rgba(0,0,0,.08);}
#container .main_swiperFreqAccMenu .swiper-wrapper .swiper-slide a:hover .ico.ico60_main_fam_persn1 { background: url(../images/ico48_main_fam_persn1_over.png) no-repeat;}
#container .main_swiperFreqAccMenu .swiper-wrapper .swiper-slide a:hover .ico.ico60_main_fam_persn2 { background: url(../images/ico48_main_fam_persn2_over.png) no-repeat;}
#container .main_swiperFreqAccMenu .swiper-wrapper .swiper-slide a:hover .ico.ico60_main_fam_persn3 { background: url(../images/ico48_main_fam_persn3_over.png) no-repeat;}
#container .main_swiperFreqAccMenu .swiper-wrapper .swiper-slide a:hover .ico.ico60_main_fam_persn4 { background: url(../images/ico48_main_fam_persn4_over.png) no-repeat;}
#container .main_swiperFreqAccMenu .swiper-wrapper .swiper-slide a:hover .ico.ico60_main_fam_persn5 { background: url(../images/ico48_main_fam_persn5_over.png) no-repeat;}
#container .main_swiperFreqAccMenu .swiper-wrapper .swiper-slide a:hover .ico.ico60_main_fam_persn6 { background: url(../images/ico48_main_fam_persn6_over.png) no-repeat;}


#container .main_swiperFreqAccMenu .swiper-wrapper .swiper-slide a p { margin-top: 12px; line-height: 24px;}
#container .main_swiperFreqAccMenu .swiper-wrapper .swiper-slide a:hover p { text-decoration: underline;}
#container .main_swiperFreqAccMenu { position: relative; width: 1072px; margin: 0; padding: 0;}
#container .main_swiperFreqAccMenu_wrap { display: flex; justify-content: space-between; height: initial;}
#container .main_swiperFreqAccMenu_control { height: initial;}
#container .main_swiperFreqAccMenu_wrap .swiper-button-prev { left: 0; top: 54px; width: 32px; height: 32px; background: url(../images/ico32_arrow_left.svg) no-repeat;}
#container .main_swiperFreqAccMenu_wrap .swiper-button-next{ top: 54px; width: 32px; height: 32px; background: url(../images/ico32_arrow_right.svg) no-repeat;}
#container .main_swiperFreqAccMenu_wrap .swiper-pagination { position: absolute; left: 0; top: 108px; bottom: initial; margin: 0; background-color: #fff;}
#container .main_explain_txt01 a { color: #117935; font-weight: 600;}
#container .swiper-pagination { left: 50%; transform: translateX(-50%);}
#container .swiper-pagination-bullet { width: 12px; height: 12px; transition: all ease-in-out .2s;}
#container .swiper-pagination-bullet-active { width: 32px; background-color: #555; border-radius: 6px;}
#container .main_swiper01 { margin: 0; padding: 0;}
#container .swiper-button-prev.btn_left { left: 0; top: 160px; width: 40px; height: 40px; background: url(../images/ico40_arrow_circle_left.svg) no-repeat;}
#container .swiper-button-next.btn_right{ right: 0; top: 160px; width: 40px; height: 40px; background: url(../images/ico40_arrow_circle_right.svg) no-repeat;}
#container .main_swiper01 .pagination_container { margin-top: 25px;}
#container .main_swiper01 .swiper-pagination { left: initial; transform: initial;}
#container .main_swiper01_wrap .btn_main_banner.pause { width: 24px; height: 24px; background: url(../images/ico24_pause.svg) no-repeat;}
#container .main_swiper01_wrap .btn_main_banner.play { background: url(https://www.work24.go.kr/cm/static/images/btn26_play.png) no-repeat;}
#container .main_beginner_guide { padding: 0; background-color: #fff;}
#container .main_beginner_guide .h1_sb { text-align: left;}
#container .main_beginner_guide .inner_guide { position: relative; width: 1248px;}
#container .main_beginner_guide .guide_list { justify-content: initial; margin: 16px 0 0 -24px;}
#container .main_beginner_guide .guide_list li { width: calc(100% / 3 -24px); height: initial; margin: 24px 0 0 24px; padding: 0;}
#container .main_beginner_guide .guide_list li a { padding: 24px 20px; background-color: #F5F5F5; border-radius: 8px; transition: all ease-out .2s;}
#container .main_beginner_guide .guide_list li a dt { padding-left: 32px; font-size: 18px; color: #111; line-height: 28px;}
#container .main_beginner_guide .guide_list li a dt .ico { left: 0;}
#container .main_beginner_guide .guide_list li a .ico24_member_login { background: url(https://www.work24.go.kr/cm/static/images/ico24_member_login.svg) no-repeat;}
#container .main_beginner_guide .guide_list li a dd { margin-top: 8px;}
#container .main_beginner_guide .guide_list li a:hover { background-color: #62D491; box-shadow: 8px 8px 16px 0 rgba(0,0,0,.08);}
#container .work24_news { position: relative; margin-top: 80px; padding: 0;}
#container .work24_news .h1_sb { text-align: left;}
#container .work24_news .recomm_tab { position: absolute; right: 0; top: 0;}
#container .work24_news_article { margin-top: 32px; padding: 0 2px;}
#container .work24_news_article .news_item { transition: all ease-out .2s;}
#container .work24_news_article .news_item:hover { border-color: #62D491; outline: 2px solid #62D491; box-shadow: 8px 8px 16px 0 rgba(0,0,0,.08);}
#container .work24_news_article .news_division { align-items: flex-start; justify-content: space-between;}
#container .work24_news_article .news_division .ico_news { background: url(../images/ico_24_news.svg) no-repeat;}
#container .work24_news_article .news_division .ico_notice { background: url(../images/ico24_loudspeaker.svg) no-repeat;}
#container .work24_news_article .news_division .ico_pds { background: url(../images/ico24_pds.svg) no-repeat;}
#container .work24_news_article .news_division .list_body { display: flex; align-items: center;}
#container .work24_news_article .news_division .icon { display: block; width: 16px; height: 16px; background: url(../images/ico16_ipin.svg) no-repeat;}
#container .work24_news .news_item:nth-child(1) { height: 324px; border-color: #62D491; background-color: rgba(98,212,145, .04);}
#container .work24_news .news_item:nth-child(2) { height: 184px;}
#container .work24_news .news_item:nth-child(3) { height: 184px; border-color: #62D491; background-color: rgba(98,212,145, .04);}
#container .work24_news .news_item:nth-child(4) { height: 324px;}
#container .work24_news .news_item:nth-child(5) { height: 324px;}
#container .work24_news .news_item:nth-child(6) { height: 184px;}
#container .work24_news .news_item:nth-child(7) { height: 324px;}
#container .work24_news .news_item:nth-child(8) { height: 184px;}
#container .work24_news .news_item:nth-child(2) .news_article,
#container .work24_news .news_item:nth-child(3) .news_article,
#container .work24_news .news_item:nth-child(6) .news_article,
#container .work24_news .news_item:nth-child(8) .news_article { display: none;}
#container .news_swiper { overflow: hidden; padding-bottom: 35px;}
#container .swiper_policy { overflow: hidden; padding: 0 2px 55px;}
#container .main_policy_recomm { position: relative; margin: 80px 0;}
#container .main_policy_recomm .mfs_more { top: 28px;}
#container .main_policy_recomm .inner_service_list dl { height: auto; padding: 32px 20px 0;}
#container .main_policy_recomm .inner_service_list dt span { height: 56px;}
#container .main_policy_recomm .inner_service_list a.detail_view { margin: 24px -20px 0; transition: background-color ease-out .2s;}
#container .main_policy_recomm .inner_service_list a.detail_view .text { display: block; font-weight: 600; color: #111;}
#container .main_policy_recomm .inner_service_list a.detail_view .iocn { display: block; width: 16px; height: 16px; margin-left: 4px; background: url(../images/ico16_arrow_right.svg) no-repeat;}
#container .main_policy_recomm .inner_service_list:hover dl { border-color: #62D491; outline: 2px solid #62D491;}
#container .main_policy_recomm .inner_service_list:hover a.detail_view { background-color: #E8FCF0; border-radius: 0 0 8px 8px;}
#container .main_policy_recomm .inner_service_list:hover a.detail_view .text { color: #117935;}
#container .main_policy_recomm .inner_service_list:hover a.detail_view .iocn { filter: invert(22%) sepia(90%) saturate(6937%) hue-rotate(151deg) brightness(91%) contrast(87%);}
#container .main_policy_recomm .swiper-button-prev { left: -62px; top: 50%; border: none;}
#container .main_policy_recomm .swiper-button-next { right: -62px; top: 50%; border: none;}







#footer { background-color: transparent;}
#footer .area { width: 1248px; margin: 0 auto;}
#footer .site { border-top: 1px solid #ddd; border-bottom: 1px solid #ddd;}
#footer .site .area { display: flex; align-items: center;}
#footer .site button { display: flex; justify-content: space-between; align-items: center; width: 213px; height: 54px; padding: 0 24px; border-left: 1px solid #ddd;}
#footer .site button ~ button { border-right: 1px solid #ddd;}
#footer .site button .text { display: block; color: #111;}
#footer .site button .icon { display: block; width: 20px; height: 20px; background: url(../images/icon20_plus.svg) no-repeat;}
#footer .group { background-color: #F5F5F5;}
#footer .group .area { padding: 40px 0;}
#footer .logos { display: flex; align-items: center;}
#footer .logos a { display: block;}
#footer .logos a ~ a { margin-left: 40px;}
#footer .flex { display: flex; justify-content: space-between;}
#footer .flex_left { margin-top: 36px;}
#footer .flex_left p { margin-top: 4px; color: #111; line-height: 28px;}
#footer .flex_left p.etc { margin-top: 20px; color: #555;}
#footer .flex_left p.etc strong { color: #111;}
#footer .flex_right .guide a { display: flex; align-items: center;}
#footer .flex_right .guide a span { font-weight: 600; color: #111;}
#footer .flex_right .guide a .icon { display: block; width: 16px; height: 16px; margin-left: 4px; background: url(../images/ico16_arrow_right.svg) no-repeat;}
#footer .flex_right .guide a ~ a { margin-top: 16px;}
#footer .flex_right .sns { display: flex; align-items: center; margin-top: 40px;}
#footer .flex_right .sns a { display: block;}
#footer .flex_right .sns a ~ a { margin-left: 8px;}
#footer .control { margin-top: 40px; border-top: 1px solid #ddd;}
#footer .control .links { display: flex; align-items: center;}
#footer .control .links a { display: block; padding: 16px 0;}
#footer .control .links a ~ a { margin-left: 24px;}
#footer .control .copyright { font-size: 14px; color: #555;}





#container .grayBg { background-color: #F5F5F5;}
#container .training { padding: 80px 0;}
#container .training .flex { display: flex; justify-content: space-between; align-items: center;}
#container .training .jobs_list_wrap { margin-top: 24px;}
#container .training .main_jobs_recomm .jobs_list { border: 3px solid #fff; box-shadow: 2px 2px 16px rgba(0,0,0,.04); transition: all ease-out .2s;}
#container .training .main_jobs_recomm .jobs_list .list dd .mark_info { margin-top: 0;}
#container .training .main_jobs_recomm .jobs_list .list dd .desc { font-size: 18px; text-align: left;}
#container .training .main_jobs_recomm .jobs_list .list dd .reg { font-size: 16px; text-align: left;}
#container .training .main_jobs_recomm .jobs_list dd li .obj_key { width: 60px;}
#container .training .main_jobs_recomm .jobs_list dd li .obj_value { flex: 1;}
#container .training .main_jobs_recomm .jobs_list .expense_info .detail_view { display: flex; align-items: center;}
#container .training .main_jobs_recomm .jobs_list .expense_info .detail_view .text { font-weight: 600; color: #111;}
#container .training .main_jobs_recomm .jobs_list:hover { border-color: #62D491; box-shadow: 8px 8px 16px rgba(0,0,0,.08);}
#container .training .mfs_more { top: 125px;}
#container .training .jobs_list_wrap { overflow: hidden; padding-bottom: 32px;}
#container .training .swiper-wrapper { position: relative; z-index: 2;}
#container .training .bgico8 { display: block; position: absolute; left: -233px; top: 90px; width: 297px; height: 296px; background: url(../images/bgico8.png) no-repeat;}
#container .training .bgico9 { display: block; position: absolute; right: -215px; bottom: 125px; width: 106px; height: 106px; background: url(../images/bgico9.png) no-repeat;}
#container .training .bgico10 { display: block; position: absolute; right: -168px; bottom: -80px; width: 357px; height: 231px; background: url(../images/bgico10.png) no-repeat;}
#container .training .bgico11 { display: block; position: absolute; right: -230px; bottom: -80px; width: 204px; height: 72px; background: url(../images/bgico11.png) no-repeat;}
#container .iconArrow { display: block; width: 16px; height: 16px; margin-left: 4px; background: url(../images/ico16_arrow_right.svg) no-repeat;}
#container 
#container 
#container 
#container 
#container 
#container 
#container 
#container 
#container 
#container 
#container 
#container 
#container 

















































